/** STYLE RESET **/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** TABLE RESET **/

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/** G ICONS **/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/** STYLES **/


#navbar {
  display: flex;
  padding: 2rem;
  padding-left: 1rem;
  background-color: #B27092;
  font-family: monospace;
}

#navbar div {
  font-weight: 600;
  color: white;
  font-size: x-large;
}

#search-bar {
  margin: 2rem 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  
}

#search-bar input::placeholder {
  text-align: center;
}

#search-bar input {
  min-width: 40vw;
  border: 2px solid black;
  outline: none;
  transition: all 0.25s;
}

#search-bar input:focus {
  border: 2px solid pink;
}

/* CONTROLS */
#controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.controls-inp-group{
  display: flex;
  place-items: center;
}

#create-item {
  border: 1px solid lightgrey;
  background-color: #FFE9F3;
  border-radius: 3px;
  transition: all 0.5s;
}

#create-item:hover {
  border: 1px solid black;
}

table {
  margin: auto;
  width: 80%;
  text-align: center;
}

thead {
  background-color: aquamarine;
}

th:not(:last-child) span {
  cursor: pointer;
}

.sort-indicator::after {
  content:attr(data-after);
  padding-left: 0.25rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
  justify-content: center;
  color: white;
}

.actions span {
  padding: 0.5rem;
  background-color: #B27092;
  border: 1px solid #B27092;
  border-radius: 10%;

}

tr {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border: 1px solid grey;
  /* border-top: none; */
}


td {
  padding: 1rem;
}

.actions span {
  cursor: pointer;
  transition: 0.25s all;

}

.actions span:hover {
  background-color: white;
  color: #B27092;
}

.actions span:last-child {
  background-color: red;
  color: white;
  border: 1px solid red;
}

.actions span:last-child:hover {
  background-color: white;
  color: red;
}


/** MODAL STYLES **/

/* .Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}
.Modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  height: 450px;
}
.ModalOpen { overflow: hidden; }
.is-hidden { display: none; }
.is-visuallyHidden { opacity: 0; }


.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
} */ 

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Toggle Switch Styles */
.cm-toggle {
  appearance: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}


/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 60px;
	height: 28px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: #16a085;
}

/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}


/* LOADER ANIMATION */

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.display-none {
  display: none;
}

/* STYLE FOR TEXT UNDERLINE ON HOVER */
.hover-underline-animation {
  position: relative;
  /* color: #FFFFFF; */
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffff00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} 